{% extends "detail_base.html" %}

{% block page_title %}
<h1>Hisorical Figure: {{ context['artifact'].name | title }} </h1> 
{% endblock %}

{% block content %}
{{ context['artifact'].name | title }} was an artifact. 
{% if context['artifact'].holder_hf %}
It was held by 
<a href={{ url_for('explorer.histfig_detail', 
	                 df_world_id=context['artifact'].holder_hf.df_world_id, 
	                 hfid=context['artifact'].holder_hf.df_world_id) }}>
{{ context['artifact'].holder_hf.name | title }}</a>.
{% endif %}
{% if context['artifact'].storage_site %}
It was stored at 
<a href={{ url_for('explorer.site_detail', 
	                 world_id=context['artifact'].storage_site.df_world_id, 
	                 site_id=context['artifact'].storage_site.df_world_id) }}>
{{ context['artifact'].storage_site.name | title }}</a>.
{% endif %}
{% if context['artifact'].page_number %}
It was {{ context['artifact'].page_number }} pages long.
{% endif %}

{% endblock %}
