{% extends "detail_base.html" %}
{% from 'urls.html' import hf_link, entity_link %} 

{% block page_title%}
<h1>Entity: {{ context['entity'].name }} </h1> 
{% endblock %}

{% block content %}
<div id="details">
{% include 'entity/entity_details.html' %}
</div>

<div id="populations">
{% include 'entity/entity_populations.html' %}
</div>

<div id="linked_entities">
{% include 'entity/entity_linked_entities.html' %}
</div>

<div id="positions">
{% include 'entity/entity_positions.html' %}
</div>

<div id="occasions">
{% include 'entity/entity_occasions.html' %}
</div>

<div id="sites">
{% include 'entity/entity_sites.html' %}
</div>

<div id="events">
{% include 'entity/entity_events.html' %}
</div>
{% endblock %}
