{%- macro hf_name1(event, hf) -%}
{%- if not event.hf -%}
UNKNOWN HF
{%- else -%}
{%- if not hf or event.hf != hf -%}
 <a href={{ url_for('explorer.hf_detail', world_id=event.hf.df_world_id, hfid=event.hfid) }}>{{ event.hf.name | title }}</a>
{%- else -%}
{{ event.hf.first_name() | title }}
{%- endif -%}
{%- endif -%}
{%- endmacro -%}

{%- macro hf_name2(event, hf) -%}
{%- if not event.hf -%}
UNKNOWN HF
{%- else -%}
{%- if not hf or event.hf2 != hf -%}
 <a href={{ url_for('explorer.hf_detail', world_id=event.hf2.df_world_id, hfid=event.hfid) }}>{{ event.hf2.name | title }}</a>
{%- else -%}
{{ event.hf2.first_name() | title }}
{%- endif -%}
{%- endif -%}
{%- endmacro -%}
