{% from 'urls.html' import hf_name, region_name%}

{{ hf_name(event.hf, hf) }}

{% if event.subtype == 'attacked' -%}
	attacked {{ hf_name(event.hf2, hf) }}{{ region_name(event.region, context['region']) }}. 

{% elif event.subtype == 'scuffle' %}
  got into a scuffle with {{ hf_name(event.hf2, hf) }}
	{{ region_name(event.region, context['region']) }}.

{% elif event.subtype == '2 lost after receiving wounds' %}
	attacked {{ hf_name(event.hf2, hf) }}{{ region_name(event.region, context['region']) }}. 
	The latter was wounded.

{% elif event.subtype == 'corner' %}
  cornered {{ hf_name(event.hf2, hf) }}{{ region_name(event.region, context['region']) }}.

{% elif event.subtype == '2 lost after giving wounds' %}
  attacked {{ hf_name(event.hf2) }}{{ region_name(event.region, context['region']) }}. 
	The atatcker won despite being wounded.

{% elif event.subtype == 'confront' %}
confronted {{ hf_name(event.hf2, hf) }}{{ region_name(event.region, context['region']) }}.

{% elif event.subtype == 'ambushed' %}
  ambushed {{ hf_name(event.hf2, hf) }}{{ region_name(event.region, context['region']) }}.

{% elif event.subtype == 'happen upon' %}
  happened upon and battled {{ hf_name(event.hf2, hf) }}{{ region_name(event.region, context['region']) }}.

{% elif event.subtype == 'surprised' %}
  surprised {{ hf_name(event.hf2, hf) }}{{ region_name(event.region, context['region']) }}.

{% elif event.subtype == '2 lost after mutual wounds' %}
  attacked {{ hf_name(event.hf2, hf) }}{{ region_name(event.region, context['region']) }}, 
	and won after both combatants were wounded. 

{% else %}
	SIMPLE BATTLE EVENT
{% endif %}
